# Built application files
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
captures/
*.iml
*.jks
.idea
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

logs
npm-debug.log*
pids
*.pid
*.seed
build/Release
node_modules
.npm
